@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(229 231 235); /*tw gray-200*/
  --foreground: rgb(24 24 27); /*tw zinc-900*/
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.dark {
  --background: #0a0a0a;
  --foreground: rgb(229 231 235);
}

html {
    height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @apply text-lg leading-loose;
}

section {
  background: var(--background);
  color: var(--foreground);
}

.center-text {
  @apply w-[95vw] sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-2/5 text-center;
}
