@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: open-sans;
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: mistrully;
    src: url("/fonts/Mistrully.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: dm-serif-display;
    src: url("/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: fsp-demo;
    src: url("/fonts/Fontspring-DEMO-theseasons-reg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "kenao";
    src: url("/fonts/KENAO.woff2") format("woff2"),
      url("/fonts/KENAO.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "the-seasons";
    src: url("/fonts/theseasons.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

:root {
  --background: #e5d7b3; /*tw gray-200*/
  --foreground: rgb(24 24 27); /*tw   zinc-900*/
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* .dark {
  --background: #0a0a0a;
  --foreground: rgb(229 231 235);
} */

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: open-sans, sans-serif;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @apply text-lg leading-loose;
}

section {
  background: var(--background);
  color: var(--foreground);
}

section,
div {
  z-index: 1;
}

.center-text {
  @apply w-[95vw] sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-2/5 text-center;
}

main {
  @apply min-h-[100vh];
}

.menu-card.group:hover:not(:has(.card-bg-nochange:hover)) {
  @apply bg-white/85;
}

.perspective-normal {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

/* .menu-card {
  transition: width 0.5s ease, max-height 0.5s ease;
} */
/* 
.menu-card-open {
  transform: translateZ(0px);
}

.menu-description {
  display: grid;
  grid-template-rows: 0fr; 
  overflow: hidden;
  transition: grid-template-rows 0.5s ease-in-out; 
}

.menu-description.open {
  grid-template-rows: 1fr; 
} */
