@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: open-sans, sans-serif;
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: mistrully, sans-serif;
    src: url("/fonts/Mistrully.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: dm-serif-display, sans-serif;
    src: url("/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "kenao", sans-serif;
    src: url("/fonts/kenao.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: fsp-demo, sans-serif;
    src: url("/fonts/Fontspring-DEMO-theseasons-reg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
}

:root {
  --background: rgb(229, 215, 179); /*Katherine's beige*/
  --foreground: rgb(24 24 27); /*tw   zinc-900*/
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.dark {
  --background: #0a0a0a;
  --foreground: rgb(229 231 235);
}

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "open-sans", sans-serif;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @apply text-lg leading-loose;
}

section {
  background: var(--background);
  color: var(--foreground);
}

.center-text {
  @apply w-[95vw] sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-2/5 text-center;
}

main {
  @apply min-h-[100vh];
}

.menu-card.group:hover:not(:has(.card-bg-nochange:hover)) {
  @apply bg-white/85;
}

.triangle-clip-path {
   clip-path: polygon(70% 0, 85% 50%, 70% 100%, 0 100%, 0 0);
}

.perspective-normal {
  perspective: 1000px;
}

/* .menu-card {
  transition: width 0.5s ease, max-height 0.5s ease;
} */

.menu-card-open {
  transform: translateZ(0px);
}

.menu-description {
  display: grid;
  grid-template-rows: 0fr; /* Collapsed state */
  overflow: hidden;
  transition: grid-template-rows 0.5s ease-in-out; /* Smooth transition */
}

.menu-description.open {
  grid-template-rows: 1fr; /* Expanded state */
}
